<h3 clas="title is-4"><%= @establo.name %></h3>

<h4 clas="subtitle is-5">Players de este establo</h4>

<div class="columns is-multiline">
  <%= render partial: 'players/player',
                      collection: @establo.players,
                      locals: { name_is_link: true } %>
</div>