<div class="player">
  <p><% player.name %></p>
  <ul>
    <li>
      <strong>Number of Spins:</strong> <%= player.number_of_spins %>
    </li>
    <li>
      <strong>Roi:</strong> <%= player.roi %>
    </li>
    <li>
      <strong>Total Winnings:</strong> <%= player.total_winnings %>
    </li>
  </ul>
</div>